/*** 

====================================================================
	PROJECTS STYLING
====================================================================

***/
.box.flexbox{
	max-width: 800px;
	width: auto;
}

#projectForm {
	padding: 40px;
	display: flex;
	justify-content: space-evenly;
	gap: 40px;
}

.form-section{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.flexbox-left, .flexbox-right{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.button-container{
	display: flex;
	justify-content: end;
	gap: 20px;
}

/* RESPONSIVENESS - SMALLER SCREENS */
@media (max-width: 480px) {
	.flexbox-left,
	.flexbox-right {
		width: auto;
	}

	.flexbox {
		flex-direction: column;
		max-height: none;
		height: auto;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

@media (max-width: 768px) {

}

@media (max-width: 992px) {
	#projectForm {
		flex-wrap: wrap;
		justify-content: center;
	}

	.flexbox-left, .flexbox-right{
		width: 100%;
	}

	.box.flexbox{
		max-width: 100%;
		width: auto;
}	

}