/*** 

====================================================================
	PROJECTS STYLING
====================================================================

***/
body {
	overflow-x: hidden; /* Prevent horizontal scrolling */
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	max-height: 800px;
	max-width: 800px;  
	height: auto;
	width: auto;
	align-items: stretch;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 50px;
}
  
.flexbox-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 50%; 
	box-sizing: border-box;
	gap: 20px;	
}
  
.flexbox-right {
	display:flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	width: 50%;
	box-sizing: border-box;  
	gap: 20px;
	padding-top: 90px;
}	 

/* responsive sedign for smaller screens */
/* The flexbox will stack vertically on smaller screens */
@media (max-width: 700px) {
	.flexbox-left,
	.flexbox-right {
		width: 100%;
	}

	.flexbox {
		flex-direction: column;
		max-height: none;
		height: auto;
	}
}

/* The flexbox will stack vertically on phone screens */
/*scrolling will be enabled on the flexbox */
@media (max-width: 480px) {
	.flexbox-left,
	.flexbox-right {
		width: auto;
	}

	.flexbox {
		flex-direction: column;
		max-height: none;
		height: auto;
		overflow-y: auto;
		overflow-x: hidden;
	}
}
  
.miniflexbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap:10px;
	margin-bottom: 10px;	
}

.miniflexbox > label {
	width: 120px;
	white-space: nowrap; /* Prevent text wrapping */	
}
  
.button-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;  
	align-items: center;
	gap: 50px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}