/*** 

====================================================================
	ADMIN LOGIN STYLING
====================================================================

***/

/* Box-Größe & Centering */
.login-box {
	background: white;
	max-width: 500px;
	max-height: 500px;
	height: auto;
	width: auto;
	padding: 60px 50px 80px;
	border-radius: 60px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin: auto; /* wirklich zentrieren */
  }
  
  /* Inhalt & Form */
.box-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}

.login-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.login-form input {
	width: 80%; 
	max-width: 400px;   
	margin: 0 auto;
	height: 48px;
	padding: 0 20px;
	border-radius: 40px;
	background-color: rgb(232,240, 254);
	color: black;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	border: none;
	outline: none;
}
  
  /* Login-Button */
.login-button {
	width: 140px;
  	margin: 16px auto 0;
	border-radius: 40px;
	background-color: #5DAB6E;
	color: white;
	transition: 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	padding: 10px;
}

button:hover{
	background-color: #489357;
	transform: scale(1.05);
	cursor: pointer;
}

button:active{
	transform: scale(0.95);
}


 /* Logo */
.logo-container{
	display: flex;
	width: 300px;
	height: auto;
}

.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	padding-top: 40px;
}

.logo h2{
	font-size: 35.54px;;
	font-family: 'Roboto', sans-serif;
}

.bit {
	color: #51ABEC;
}

.admin {
	color: #5DAB6E;
	font-size: 28.54px;
	margin-top: 27px;
}

.logo svg{
	color: #51ABEC;
}

/* Admin-Inside */

.main-box {
	background: white;
	max-width: 500px;
	max-height: 500px;
	height: auto;
	width: auto;
	padding: 60px 50px 80px;
	border-radius: 60px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin: auto; /* wirklich zentrieren */
  }
  
  /* Inhalt & Form */
.box-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}

.add-user-button, .update-user-button, .delete-user-button {
	width: 140px;
  	margin: 16px auto 0;
	border-radius: 40px;
	background-color: #51ABEC;
	color: white;
	transition: 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	padding: 10px;
}

.add-user-button:hover, .update-user-button:hover, .delete-user-button:hover {
	background-color: #3c8ac2;
	transform: scale(1.05);
	cursor: pointer;
}

/* RESPONSIVENESS - SMALLER SCREENS */
@media (max-width: 480px) {
	.login-box{
		width: 100%;
		height: 100vh;
		padding: 0;
		border-radius: 0;
		box-shadow: none;
	}	

	.logo {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}