/*** 

====================================================================
	MAIN FILE CONTAINING PREFABS
====================================================================

***/

@font-face{
	font-family: "inter";
	src: url("../assets/fonts/Inter-Regular.ttf");
}

@font-face{
	font-family: "inter-medium";
	src: url("../assets/fonts/Inter-Medium.ttf");
}

@font-face{
	font-family: "inter-semibold";
	src: url("../assets/fonts/Inter-SemiBold.ttf");
}

@font-face{
	font-family: "inter-bold";
	src: url("../assets/fonts/Inter-Bold.ttf");
}

@font-face{
	font-family: "inter-black";
	src: url("../assets/fonts/Inter-Black.ttf");
}

@font-face{
	font-family: "inter-italic";
	src: url("../assets/fonts/Inter_18pt-Italic.ttf");
}

@font-face{
	font-family: "inter-medium-italic";
	src: url("../assets/fonts/Inter_18pt-MediumItalic.ttf");
}

@font-face{
	font-family: "inter-thin-italic";
	src: url("../assets/fonts/Inter_18pt-ThinItalic.ttf");
}

:root{
	--primary-color: #51ABEC;
	--second-color: #5DAB6E;
	--third-color: #FFCC00;

	--black-color: #313343;
	--black-75-color: #5B5B5B;
	--black-50-color: #A1A1A1;

	--white-25-color: #F2F2F2;
}

html {
    scroll-behavior: smooth;
}

body{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
}

main{
	flex: 1;
  	padding: 2rem 3rem 2rem 3rem;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.file-center{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

p, h1, h2, h3, h4, a, span, li{
    color: #313343;
}

* {
    font-family: "inter";
    margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
}

a{
    text-decoration: none;
}

ul{
    /* list-style-type: none; */
    padding-left: 24px !important;
}

li{
    margin: 10px 0 10px 0;
}

.code{
	background-color: rgb(0,0,0,0.2);
	padding: 5px 5px 5px 5px;
	border-radius: 20px;
}

.no-anim{
	animation: none !important;
	transition: none !important;
	transform: none !important;
}

/* ------------ FONTS ------------ */

.black{
    font-family: 'inter-black' !important;
}

.bold {
    font-family: 'inter-bold' !important;
}

.semi-bold{
    font-family: 'inter-semibold' !important;
}

.italic{
    font-family: 'inter-italic' !important;
}

.medium{
    font-family: 'inter-medium' !important;
}

.medium-italic{
    font-family: 'inter-medium-italic' !important;
}

.thin-italic{
    font-family: 'inter-thin-italic' !important;
}

.underline{
    text-decoration: underline;
}

/* ------------ TEXT SIZES ------------ */

.h-10{
    font-size: 252px;
}

.h-6{
    font-size: 128px;
}

.h-5{
    font-size: 84px !important;
}

.h-4{
    font-size: 63.15px !important;
}

.h-3{
    font-size: 47.37px !important;
}

.h-2{
    font-size: 35.54px !important;
}

.h-1{
    font-size: 26.66px !important;
}

.base{
    font-size: 20px !important;
}

.s-1{
    font-size: 15px !important;
}

.s-2{
    font-size: 11.26px !important;
}

.s-3{
    font-size: 8.44px !important;
}

.container{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.section{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
/* --------------------------------------- */

/* ------------ COLORS ------------ */

.color-primary{
    color: #51ABEC !important;
}

.color-second{
    color: #5DAB6E !important;
}

.color-third{
    color: #FFCC00 !important;
}

.color-b {
    color: #313343 !important; /* Original color */
}

.color-b-75 {
    color: #5B5B5B !important; /* 75% opacity-like effect */
}

.color-b-50 {
    color: #A1A1A1 !important; /* 50% opacity-like effect */
}

.b-25{
    color: rgb(49, 51, 67, 0.25) !important;
}

.b-10{
    color: rgb(49, 51, 67, 0.1) !important;
}

.color-b-5{
    color: rgb(49, 51, 67, 0.05) !important;
}

.color-w{
    color: #FFFFFF !important;
}

.color-w-25{
    color: #F2F2F2 !important;
}

.bg-none{
	background-color: rgb(0,0,0,0) !important;
}

/* --------------------------------------- */


/* ------------ PADDINGS AND MARGINS ------------ */

.padd-top-10{
	padding-top:10px !important;	
}

.padd-top-20{
	padding-top:20px !important;	
}

.padd-top-30{
	padding-top:30px !important;	
}

.padd-top-40{
	padding-top:40px !important;	
}

.padd-top-50{
	padding-top:50px !important;	
}

.padd-top-60{
	padding-top:60px !important;	
}

.padd-top-70{
	padding-top:70px !important;	
}

.padd-top-80{
	padding-top:80px !important;	
}

.padd-top-100{
	padding-top:100px !important;	
}

.padd-top-150{
	padding-top: 150px !important;	
}

.padd-left-10{
	padding-left:10px !important;	
}

.padd-left-20{
	padding-left:20px !important;	
}

.padd-left-30{
	padding-left:30px !important;	
}

.padd-left-40{
	padding-left:40px !important;	
}

.padd-left-50{
	padding-left:50px !important;	
}

.padd-left-60{
	padding-left:60px !important;	
}

.padd-left-70{
	padding-left:70px !important;	
}

.padd-bott-10{
	padding-bottom:10px !important;	
}

.padd-bott-20{
	padding-bottom:20px !important;	
}

.padd-bott-30{
	padding-bottom:30px !important;	
}

.padd-bott-40{
	padding-bottom:40px !important;	
}

.padd-bott-50{
	padding-bottom:50px !important;	
}

.padd-bott-60{
	padding-bottom:60px !important;	
}

.padd-bott-70{
	padding-bottom:70px !important;	
}
.padd-bott-80{
	padding-bottom:80px !important;	
}

.padd-bott-100{
	padding-bottom:100px !important;	
}

.padd-right-10{
	padding-right:10px !important;	
}

.padd-right-20{
	padding-right:20px !important;	
}

.padd-right-30{
	padding-right:30px !important;	
}

.padd-right-40{
	padding-right:40px !important;	
}

.padd-right-50{
	padding-right:50px !important;	
}

.padd-right-60{
	padding-right:60px !important;	
}

.padd-right-70{
	padding-right:70px !important;	
}

.margin-top-10{
	margin-top:10px !important;	
}

.margin-top-20{
	margin-top:20px !important;	
}

.margin-top-30{
	margin-top:30px !important;	
}

.margin-top-40{
	margin-top:40px !important;	
}

.margin-top-50{
	margin-top:50px !important;	
}

.margin-top-60{
	margin-top:60px !important;	
}

.margin-top-70{
	margin-top:70px !important;	
}

.margin-bott-10{
	margin-bottom:10px !important;	
}

.margin-bott-20{
	margin-bottom:20px !important;	
}

.margin-bott-30{
	margin-bottom:30px !important;	
}

.margin-bott-40{
	margin-bottom:40px !important;	
}

.margin-bott-50{
	margin-bottom:50px !important;	
}

.margin-bott-60{
	margin-bottom:60px !important;	
}

.margin-bott-70{
	margin-bottom:70px !important;	
}

.no-padd-bottom{
	padding-bottom:0px !important;	
}

.no-padd-top{
	padding-top:0px !important;	
}

.no-margin-bottom{
	margin-bottom:0px !important;	
}

.no-margin-top{
	margin-bottom:0px !important;	
}

.no-padd-left{
	padding-left:0px !important;	
}

.no-padd-right{
	padding-right:0px !important;	
}

/* --------------------------------------- */

/* ------------ LOGO PREFABS ------------ */

.logo-container{
	display: flex;
	width: 300px;
	height: auto;
}

.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	padding-top: 40px;
}

.logo p{
	font-size: 47.37px;
}

.logo h2{
	font-size: 47.37px;
}

.logo svg{
	color: var(--primary-color);
}

/* --------------------------------------- */

/* ------------ BOXES PREFABS ------------ */

.box {
	background-color: white;
	border-radius: 40px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.box-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 40px;
}

/* --------------------------------------- */

/* ------------ BUTTONS ------------ */

button{
	border-radius: 40px;
	background-color: var(--primary-color);
	color: white;
	transition: 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	padding: 10px;
}

button:hover{
	background-color: #3c8ac2;
	transform: scale(1.05);
	cursor: pointer;
}

button:active{
	transform: scale(0.95);
}

.button-black{
	background-color: #313343;
	color: white;
}

.button-black:hover{
	background-color: #3A3A4A !important;

}

/* --------------------------------------- */

/* ------------ SELECT ------------ */

select {
	border-radius: 40px;
	background-color: var(--white-25-color);
	color: var(--black-75-color);
	transition: 0.3s;
	font-size: 15px;
	padding: 10px;
	appearance: none;
	-webkit-appearance: none; /* Safari */
	-moz-appearance: none;    /* Firefox */
	width: auto;
}

select:hover{
	background-color: var(--black-color);
	color: white;
	cursor: pointer;
}


/* --------------------------------------- */

/* ------------ INPUT AND TEXTAREA------------ */
input, textarea {
	border-radius: 40px;
	background-color: var(--white-25-color);
	color: var(--black-75-color);
	transition: 0.3s;
	font-size: 15px;
	padding: 10px 15px 10px 15px;
	width: auto;
	font-family: "inter-medium";
}

textarea {
	border-radius: 20px;
	resize: none;
}

/* --------------------------------------- */

