/*** 

====================================================================
	TIME ENTRY STYLING
====================================================================

***/

.time-entry-container{
    position: absolute;
    top: 50%;
    left: calc(50% + 125px); /* Shift by half the sidebar */
    max-width: 500px;
    max-height: 500px;
    min-height: 100px;
    min-width: 100px;
    z-Index: 10;
    transform: translate(-50%, -50%); /* Centers the popup */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.time-entry-container-inside{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 88%;
    width: 90%;
    gap: 20px;
}

.entry-block{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.entry-block p{
    min-height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-block svg{
    padding-top: 12px;
}

.entry-block select{
    width: 100%;
}

textarea{
    width: 90%;
}

#date{
    width: 40%;
}

.time-entry-header{
    border-radius: 40px 40px 0 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: grab;
    transition: 0.3s all;
}

.time-entry-header:hover{
    background-color: #F2F2F2;
}

.time-entry-header path{
    fill: #A1A1A1;
}

.entry-buttons{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 90%;
    gap: 20px;
}

.entry-buttons button{
    font-size: 15px;
    padding: 10px;
}


/* RESPONSIVENESS - SMALLER SCREENS */
@media (max-width: 480px) {

}

@media (max-width: 768px) {
    .time-entry-container{
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 40px);
        max-width: 100%;
        max-height: 100%;
        transform: none;
        border-radius: 0;
    }

    .time-entry-header{
        display: none;
    }

    .entry-block input[type=date]{
        display: none;
    }

    .time-entry-container-inside{
        gap: 5px;
    }
}

@media (max-width: 992px) {

}