/*** 

====================================================================
	LOGIN STYLING
====================================================================

***/

.login-box-container{
	width: 800px;
	height: 600px;
}

.login-button{
	padding: 10px 20px 10px 20px;
	width: 20%;
}