/*** 

====================================================================
	DEVELOPMENT SIDEBAR STYLING
====================================================================

***/

nav {
    margin-right: 250px;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #1E1E1E;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;      /* keeps it fixed on scroll */
    top: 0;
    left: 0;
    z-index: 10;
    transition-duration: 0.3s;
}


/* Toggle button styling */
.sidebar-toggle {
    display: none;
    position: fixed;
    top: 40px;
    left: 20px;
    z-index: 1100;
    height: 50px;
    width: 50px;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    background-color: #51ABEC;
    border-radius: 10px;
}

.sidebar.big{
    transform: translateX(0);
    width: 100%;
}

.burger-line {
    display: block;
    width: 20px;
    margin-top: 4px;
    height: 4px;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

/* Animation for the burger menu when active */
.sidebar-toggle.active .burger-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.sidebar-toggle.active .burger-line:nth-child(2) {
    opacity: 0;
}

.sidebar-toggle.active .burger-line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
  
.sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
  

.sidebar-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    max-height: 70vh;
    margin-top: 40px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.sidebar-button-container{
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    padding: 10px 0 10px 0;
    transition: 0.3s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.sidebar-button-container:hover{
    background-color: rgb(255,255,255,0.1);
}

.sidebar-button-container svg{
    padding-left: 10px;
}

.sidebar-button-container path{
    fill: white;
}

.sidebar-button-container button{
    border: none;
    background: none;
    color: white;
    padding: 0;
    /* The standard button has a scale animaton, we don't want this in the sidebar*/
    animation: none !important;
	transition: none !important;
	transform: none !important;
}

.sidebar-ending {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    gap: 20px;
    padding-top: 20px;
}

.nav-selected{
    background-color: rgb(255,255,255) !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.nav-selected path{
    fill: black;
}

.nav-selected button{
    color: black;
}

.logo-admin{
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
	width: 100%;
	margin-top: 40px;
}

.logo-admin p{
	font-size: 47.37px;
}

.logo-admin h2{
	font-size: 47.37px;
}

.logo-admin svg{
	color: var(--primary-color);
}

.logo-admin-inside{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Show toggle on smaller screens */
@media (max-width: 992px) {
    .sidebar-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar{
        transform: translateX(-100%);
        border-radius: 0;
    }

    .sidebar.big{
        transform: translateX(0);
        width: 100%;
    }

    nav {
        margin-right: 0;
    }
}