/*** 

====================================================================
	HEADER STYLING
====================================================================

***/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 32px;
}

.header-left-side{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.user-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.user-header .header-settings-button{
    width: 0;
    height: 0;
    background-color: rgb(0,0,0,0);
}

.user-header svg{
    cursor: pointer;
    transition: 0.3s;
    overflow: visible;
}

.user-header svg:hover{
    transform: scale(1.05);
}

.user-header svg:active{
    transform: scale(0.95);
}

.weather-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.weather-temp {
    font-size: 20px;
    color: var(--black-color);
    font-family: 'inter-medium', sans-serif;
}

#weather-icon {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.visually-hidden {            /* accessibility class for screen readers */
    position: absolute;       /* Removes it from the normal layout flow */
    width: 1px;               /* Minimizes the width */
    height: 1px;              /* Minimizes the height */
    padding: 0;               /* No internal spacing */
    margin: -1px;             /* Moves it outside the visible area */
    overflow: hidden;         /* Hides any overflowing content */
    clip: rect(0 0 0 0);      /* Clips the visible area to 0x0 pixels */
    white-space: nowrap;      /* Prevents line breaks */
    border: 0;                /* Ensures no borders are shown */
}

/* RESPONSIVENESS - SMALLER SCREENS */
@media (max-width: 480px) {

}

@media (max-width: 768px) {
    .header h1{
        display: none;
    }

    .user-header h2{
        display: none;
    }

    .header{
        justify-content: space-between;
    }
}

@media (max-width: 992px) {

}